@use '../foundation/breakPoint.scss' as *;

.Cms {
  display: grid;
  line-height: 1.6;

  p,
  ul.wp-block-list {
    margin-top: 1.5rem;
  }

  h2.wp-block-heading {
    font-size: 2.4rem;
    font-family: 'Shippori Mincho', serif;
  }

  * + h2.wp-block-heading {
    margin-top: 4rem;
  }

  h3.wp-block-heading {
    font-size: 1.8rem;
    font-weight: bold;
  }

  * + h3.wp-block-heading {
    margin-top: 3rem;
  }

  ul.wp-block-list {
    li {
      &:before {
        content: '・';
      }
    }
  }

  .wp-block-table td {
    border: none;
  }
  .wp-block-table tr td:first-child {
    width: 30%;
  }
  .wp-block-gallery {
    margin-top: 3rem;
  }
  .wp-block-image {
    margin-top: 3rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  &_summary {
    background: #fafafa;
    padding: 4rem 2rem;
    .title {
      font-size: 2.4rem;
      @include sp {
        font-size: 2rem;
      }
    }
    dl {
      dt {
        margin-top: 3rem;
        font-size: 1.8rem;
        font-weight: bold;
      }
      dd {
        margin-top: 1rem;
      }
    }
    @include sp {
      padding: 2rem;
    }

    &_bottom {
      margin-top: 4rem;
    }
  }

  .simpletoc-title {
    font-size: 2.4rem;
    font-weight: bold;
  }
  .simpletoc-list {
    margin-top: 2rem;
    li {
      font-size: 1.8rem;
      line-height: 1.8;
      font-weight: bold;
      &:before {
        content: '・';
        margin-right: 0.5rem;
      }
    }
  }
}
