@use '../foundation/breakPoint.scss' as *;

.Detail {
  &_wrapper {
    padding-inline: 2rem;
    @include sp {
      padding: unset;
    }
  }

  &_header {
    margin-top: 10rem;
    display: grid;
    gap: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #898989;
    margin-bottom: 8rem;
    @include sp {
      margin-top: 4rem;
      margin-bottom: 4rem;
      gap: 2rem;
    }
    .title {
      font-size: 3.2rem;
      font-weight: bold;
      font-family: 'Shippori Mincho', serif;
      @include sp {
        font-size: 2.2rem;
      }
    }
    .name {
      color: #aaaaaa;
      font-size: 2.4rem;
      @include sp {
        font-size: 1.6rem;
      }
    }
    .info {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      gap: 2rem;
      @include sp {
        font-size: 1.4rem;
      }
    }
  }

  &_sectionTitle {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    font-family: 'Shippori Mincho', serif;
  }

  &_topImage {
    aspect-ratio: 1680 / 320;
    @include sp {
      aspect-ratio: 375 / 320;
    }
    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &_companyHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    @include sp {
      margin-top: 0;
      flex-direction: column;
      padding-bottom: 4rem;
    }
    .logo {
      height: 33rem;
      height: 21rem;
      @include sp {
        height: 15rem;
        width: 26rem;
      }
      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .texts {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .name {
        font-size: 4rem;
        font-weight: bold;
        @include sp {
          font-size: 2.5rem;
        }
      }

      a {
        font-size: 1.6rem;
      }
    }
  }

  &_lead {
    justify-content: center;
    border-top: 1px solid #898989;
    padding: 7rem 2rem;
    @include sp {
      padding: 5rem 2rem;
    }
    .title {
      font-size: 3.2rem;
      font-weight: bold;
      text-align: center;
      @include sp {
        font-size: 2.2rem;
      }
    }
  }

  &_about {
    border-top: 1px solid #898989;
    padding-top: 7rem;
    margin-top: 7rem;
    @include sp {
      padding-top: 5rem;
      margin-top: 5rem;
    }
    table {
      width: 100%;
      th,
      td {
        padding: 2rem;
        border-bottom: 1px solid #707070;
        text-align: left;
        vertical-align: center;
        @include sp {
          border: unset;
          display: block;
        }
      }
      th {
        min-width: 10rem;
        font-weight: 500;
      }
      @include sp {
        td {
          border-bottom: 1px solid #707070;
          padding: 2rem;
        }
        th {
          padding: 2rem 2rem 0;
        }
        td,
        th {
          padding-left: unset;
        }
      }
    }
  }

  &_banner {
    padding: 8rem;
    @include sp {
      padding: 3rem 0;
    }
  }

  &_person {
    border-top: 1px solid #898989;
    padding: 7rem 0;
    @include sp {
      padding: 5rem 0;
    }

    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem 2.5rem;
      @include sp {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem 1.6rem;
      }

      .item {
        max-width: 29rem;

        .name {
          margin-top: 2rem;
          @include sp {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  &_media {
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    padding: 7rem 0;
    @include sp {
      padding: 5rem 0;
    }
  }

  &_btn {
    margin: 4rem 0 20rem;
    justify-self: center;
    @include sp {
      margin: 4rem 0 10rem;
    }
  }

  &_mainImage {
    margin-bottom: 6rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}
