@use '../foundation/breakPoint.scss' as *;

.Media {
  .content {
    padding: 10rem 0 15rem;
    @include sp {
      padding: 4rem 0 0;
    }

    .switch {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      padding: 4rem 0;
      border-bottom: 1px solid #898989;
      @include sp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.7rem;
        padding: 3rem 0;
        .Button {
          width: unset;
        }
      }
    }

    .Categories {
      margin: 8rem 0 5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #898989;
      @include sp {
        margin: 3.4rem 0 0.5rem;
        padding-left: 0;
      }
    }

    .items {
      display: grid;
      gap: 8rem;
      margin-top: 20rem;
      @include sp {
        gap: 5rem;
        padding: 0;
        margin-top: 3rem;
      }

      .PageTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #898989;
        padding-bottom: 2rem;

        @include sp {
          .Button.pc {
            display: none;
          }
        }
      }
    }

    @include sp {
      .Button.sp {
        width: 100%;
        margin-top: 4rem;
      }
    }

    @include pc {
      .Button.sp {
        display: none;
      }
    }

    .itemsTitle {
      font-size: 3.2rem;
      @include sp {
        font-size: 2.2rem;
      }
    }
  }
}
