@use '../foundation/breakPoint.scss' as *;

.News {
  .content {
    padding: 10rem 0 15rem;
    @include sp {
      padding: 4rem 0 0;
    }
  }

  .Categories {
    margin: 8rem 0 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #898989;
    @include sp {
      margin: 3.4rem 0 0.5rem;
      padding-left: 0;
    }
  }

  .newsList {
    .item {
      border-bottom: 1px solid #898989;
      a {
        display: block;
        padding: 2rem 0;
        display: grid;
        gap: 1.5rem;
        font-size: 1.6rem;
        .header {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          color: #898989;
          .label {
            &:before {
              content: '|';
              margin: 0 1rem 0 3rem;
            }
          }
        }
      }
    }
  }
}
