@use '../foundation/breakPoint.scss' as *;

.Pages {
  &_content {
    display: grid;
    gap: 6rem;

    @include sp {
      gap: 4rem;
    }
  }

  .ExhibitionList {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 7rem 10rem;
    margin-bottom: 10rem;
    padding: 0 2rem;
    max-width: 110rem;
    margin-inline: auto;

    @include sp {
      grid-template-columns: 1fr;
      gap: 4rem;
    }

    li {
      max-width: 50rem;
      height: 100%;

      a {
        display: grid;
        gap: 2rem;
      }

      .texts {
        display: grid;
        gap: 2rem;
      }

      .image {
        height: 30rem;
        width: 100%;
        display: block;
        @include sp {
          height: unset;
          width: unset;
        }
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          @include sp {
            object-fit: unset;
            height: unset;
            width: unset;
          }
        }
      }

      .date {
        font-size: 1.4rem;
        white-space: pre-line;
      }

      .title {
        font-size: 2.2rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        @include sp {
          font-size: 1.8rem;
        }
      }

      .text {
        font-size: 1.5rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        @include sp {
          font-size: 1.4rem;
        }
      }
    }
  }
}
