@use '../foundation/breakPoint.scss' as *;

.Portfolio {
  .content {
    padding: 10rem 0 15rem;
    @include sp {
      padding: 4rem 0 0;
    }

    .Categories {
      margin: 8rem 0 0.5rem;
      @include sp {
        margin: 2rem 0 0.5rem;
      }
    }

    .items {
      border-top: 1px solid #898989;
      padding: 6rem 0 0;
      display: grid;
      gap: 8rem;
      @include sp {
        gap: 5rem;
        padding: 5rem 0 0;
      }
    }

    .itemsTitle {
      font-size: 3.2rem;
      @include sp {
        font-size: 2.2rem;
      }
    }
  }
}

.TeamDetail {
  .content {
    padding: 10rem 0;
    @include sp {
      padding: 4rem 0 0;
    }

    .main {
      display: grid;
      gap: 5rem;

      .texts {
        font-size: 1.6rem;
        display: grid;
        gap: 3rem;

        .header {
          display: grid;
          gap: 0.5rem;

          .name {
            font-size: 3.2rem;
            font-weight: normal;
          }
        }

        .profile {
          display: grid;
          gap: 3rem;

          .title {
            font-size: 1.8rem;
            font-weight: bold;
          }

          .text {
            font-size: 1.5rem;
          }
        }
      }
    }

    .portfolio {
      border-top: 1px solid #898989;
      margin: 8rem 0 0;
      padding: 6.4rem 0 0;

      .title {
        font-size: 3.2rem;
      }

      .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.6rem;
        margin-top: 3.2rem;
        @include sp {
          grid-template-columns: repeat(2, 1fr);
          gap: 1.7rem;
        }

        .item {
          text-align: center;
          border: 1px solid #898989;
          padding: 0 1.6rem 3rem;
          position: relative;

          .image {
            aspect-ratio: 25/16;
            img {
              object-fit: contain;
              object-position: center;
              width: 100%;
              height: 100%;
            }
          }

          &:after {
            position: absolute;
            right: 1.6rem;
            bottom: 1.6rem;
            content: '';
            display: block;
            width: 0.6rem;
            height: 1.2rem;
            background: center/cover no-repeat url('../../img/ico_arrow_right_black.svg');
          }
        }
      }
    }

    .media {
      border-top: 1px solid #898989;
      border-bottom: 1px solid #898989;
      margin: 8rem 0 0;
      padding: 6.4rem 0;

      .title {
        font-size: 2.4rem;
      }

      .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.6rem;
        margin-top: 3.2rem;
        @include sp {
          grid-template-columns: 1fr;
        }

        .item {
          @include sp {
            padding: 1rem;
          }
          a {
            display: grid;
            gap: 1rem;
          }

          .image {
            height: 14rem;
            width: 100%;
            img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 100%;
            }
          }

          .texts {
            display: grid;
            gap: 0.6rem;

            .date {
              font-size: 1.2rem;
            }
            .category {
              background: #333333;
              color: white;
              padding: 0.5rem;
              font-size: 1.2rem;
              width: max-content;
            }
            .text {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }

  .Button {
    margin: 5rem auto 0;
  }
}
