@use '../foundation/breakPoint.scss' as *;

.Top {
  .Kv {
    .movie {
      width: 100%;
      height: 600px;
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .Exhibition {
    padding: 12rem 0 0;
    @include sp {
      padding: 6rem 0 0;
    }

    .Wrapper {
      display: grid;
      gap: 7rem;
      @include sp {
        gap: 4rem;
      }
    }

    .image {
      border: 1px solid #707070;
      display: block;
    }

    .navi {
      position: relative;
      @include sp {
        display: grid;
        place-items: center;
        gap: 2rem;
      }

      .title {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include sp {
          position: static;
          transform: none;
          text-align: center;
        }
      }
    }
  }

  .Archive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    padding-top: 12rem;
    @include sp {
      padding-top: 6rem;
      gap: 4rem;
    }

    .list {
      display: flex;
      overflow-x: scroll;
      gap: 2rem;
      padding-bottom: 4rem;
      @include sp {
        padding-bottom: 2rem;
      }

      a {
        flex-shrink: 0;
        width: 56rem;
        display: block;
        @include sp {
          width: 29.5rem;
        }
      }
    }
  }

  .Nowhere {
    padding: 12rem 0 0;
    @include sp {
      padding: 6rem 2rem;
    }

    .header {
      text-align: center;

      .title {
        font-size: 3.2rem;
        margin-top: 7rem;
        @include sp {
          font-size: 2.2rem;
          margin-top: 3rem;
        }
      }

      .text {
        font-size: 1.4rem;
        margin-top: 2rem;
        span {
          @include sp {
            display: block;
            text-align: left;
            text-indent: -1em;
            padding-left: 1rem;
          }
          &:before {
            content: '※ ';
          }
        }
        @include sp {
          margin-top: 1rem;
        }
      }
    }

    .map {
      margin: 4rem 0;
      width: 100%;
      @include sp {
        margin: 3rem 0;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .info {
      display: grid;
      gap: 4rem;
      @include sp {
        gap: 2rem;
        padding: 0 !important;
      }

      .lines {
        text-align: center;
        font-size: 2rem;
        @include sp {
          font-size: 1.4rem;
        }
      }
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        @include sp {
          grid-template-columns: 1fr;
          gap: 0.8rem;
        }

        li {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          font-size: 2.4rem;
          @include sp {
            font-size: 1.6rem;
            img {
              width: 2.9rem;
            }
          }
        }
      }
      small {
        font-size: 1.3rem;
        @include sp {
          font-size: 1.4rem;
        }
        span {
          @include sp {
            display: block;
            text-align: left;
            text-indent: -1em;
            padding-left: 1rem;
          }
          &:before {
            content: '※ ';
          }
        }
      }
    }
  }

  .NewsSec {
    padding: 12rem 0 0;
    @include sp {
      padding: 6rem 0 0;
    }
  }

  .ArtTrain {
    display: flex;
    align-items: center;
    gap: 6rem;
    max-width: 1680px;
    margin: 0 auto;
    @include sp {
      flex-direction: column-reverse;
      padding: 0 2rem;
      gap: 4rem;
    }

    .bg {
      width: 25.5rem;
      @include mid {
        display: none;
      }
      @include sp {
        display: none;
      }
    }

    .texts {
      .title {
        img {
          width: 61.4rem;
          @include sp {
            width: 30.2rem;
            margin-inline: auto;
          }
        }
      }
      .lead {
        font-size: 3.6rem;
        margin-top: 5rem;
        @include sp {
          font-size: 2.5rem;
          margin-top: 2rem;
        }
      }
      .name {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
        line-height: 1;
        margin-top: 5rem;
        @include sp {
          flex-direction: column;
          align-items: start;
          gap: 1rem;
          font-size: 1.5rem;
          margin-top: 2rem;
        }
        span {
          font-size: 2.6rem;
          line-height: 1;
          @include sp {
            font-size: 2rem;
          }
        }
      }
      .text {
        margin-top: 2rem;
        font-size: 2rem;
        width: 47rem;
        @include sp {
          width: 100%;
          font-size: 1.5rem;
        }
      }
    }

    .image {
      width: 63.7rem;
      @include sp {
        width: 100%;
      }
    }
  }

  .Concept {
    padding: 12rem 0;
    @include sp {
      padding: 6rem 00;
    }
    .list {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      max-width: 1100px;
      margin: 4rem auto 0;
      @include sp {
        grid-template-columns: 1fr;
        place-items: center;
        margin: 2rem auto 0;
      }
      li {
        display: grid;
        place-items: center;
        height: 37rem;
        background: white;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
        border-radius: 1rem;
        padding: 2.4rem;
        max-width: 35.3rem;
        @include sp {
          height: 30rem;
        }
        img {
          height: 15.3rem;
        }
        .text {
          align-self: baseline;
        }
      }
    }
  }

  .Separator {
    margin-bottom: 4rem;
  }
}
