@use '../foundation/breakPoint.scss' as *;

.BreadCrumb {
  margin: 6rem auto;
  max-width: 110rem;
  padding: 0 2rem;
  @include sp {
    margin: 2rem auto 4rem;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;

    @include sp {
      font-size: 1.2rem;
    }

    li + li {
      &:before {
        content: '-';
        margin-right: 1rem;
      }
    }
  }
}
