@use '../foundation/breakPoint.scss' as *;

.Categories {
  display: flex;
  align-items: center;
  justify-content: end;
  @include sp {
    padding-left: 5rem;
    font-size: 1.3rem;
    flex-wrap: wrap;
    justify-content: start;
  }

  li + li {
    &:before {
      margin: 0 0.8rem;
      content: '|';
    }
  }

  li.noBorder {
    @include sp {
      &:before {
        margin: unset;
        content: '';
      }
    }
  }
}
