@use '../foundation/breakPoint.scss' as *;

.Footer {
  padding: 8rem 2rem;
  background: var(--primary);
  color: white;
  position: relative;
  text-align: center;
  @include sp {
    padding: 7rem 2rem;
  }

  .contents {
    display: grid;
    place-items: center;
    position: relative;
    gap: 7rem;
    @include sp {
      gap: 6rem;
    }
  }

  .hiroshima {
    width: 27rem;
  }

  .links {
    display: flex;
    gap: 2.7rem;
    @include sp {
      flex-direction: column;
    }

    a {
      font-size: 1.7rem;
      @include sp {
        font-size: 1.6rem;
      }
    }
  }

  .logo {
    width: 109rem;
  }

  small {
    font-size: 1.7rem;
  }
}
