@use '../foundation/breakPoint.scss' as *;

.Participate {
  margin-top: 10rem;
  background: center / cover no-repeat url('../../img/bg_participate.png');
  position: relative;
  padding: 7rem 0 10rem;
  text-align: center;
  color: white;
  @include sp {
    padding: 7rem 0;
  }

  .container {
    display: grid;
    place-items: center;
    gap: 5rem;
    padding-top: 4rem;
  }

  .SectionTitle {
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);

    @include sp {
      top: -4rem;
    }
  }

  .title {
    font-size: 4rem;
    @include sp {
      font-size: 3rem;
    }
  }

  .text {
    font-size: 1.8rem;
    font-weight: 600;
    @include sp {
      text-align: left;
      line-height: 1.8;
    }
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 5rem;
    @include sp {
      grid-template-columns: 1fr;
    }

    li {
      height: 31rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.2rem;

      &.startup {
        background: var(--primary);
      }
      &.investor {
        background: var(--secondary);
      }
    }

    .linkLead {
      font-size: 1.8rem;
      @include sp {
        font-size: 1.5rem;
      }

      span {
        display: block;
        font-size: 4rem;
        @include sp {
          font-size: 2.4rem;
        }
      }
    }

    .linkForm {
      font-size: 3.2rem;
      display: flex;
      align-items: center;
      gap: 3rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid white;
      height: max-content;
      @include sp {
        font-size: 2rem;
      }
    }
  }
}
