<footer class="Footer">
  <div class="Wrapper">
    <div class="contents">
      <div class="container">
        <a href="/" class="logo">
          <img src="/img/logo.svg" alt="HIC">
        </a>
        <div class="links">
          <ul class="pages">
            <li>
              <a href="/">HICとは</a>
              <ul class="details">
                <li>
                  <a href="/">ファンドについて</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">ポートフォリオ</a>
            </li>
            <li>
              <a href="/">チーム</a>
            </li>
          </ul>
          <ul class="pages">
            <li>
              <a href="/">メディア</a>
            </li>
            <li>
              <a href="/">コラム</a>
              <ul class="details">
                <li>
                  <a href="/">ビジネススキル</a>
                </li>
                <li>
                  <a href="/">ファイナンス</a>
                </li>
                <li>
                  <a href="/">フレームワーク</a>
                </li>
                <li>
                  <a href="/">会社設立の基礎知識</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">ストーリー</a>
              <ul class="details">
                <li>
                  <a href="/">研究者ストーリー</a>
                </li>
                <li>
                  <a href="/">企業ストーリー</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="pages">
            <li>
              <a href="/">NEWS</a>
            </li>
            <li>
              <a href="/">お問い合わせ</a>
            </li>
          </ul>
        </div>
      </div>
      <small>
        Copyright © 2022 Hiroshima Incubation Capital Co.,Ltd.<br class="sp">All Rights Reserved.
      </small>

    </div>
  </div>
</footer>