<header class="Header">
  <h1>
    <a href="/" class="logo">
      <img src="/img/logo.svg" alt="HIC">
    </a>
  </h1>
  <div class="content">
    <ul class="links">
      <li>
        <a href="#">HICとは</a>
      </li>
      <li>
        <a href="#">NEWS</a>
      </li>
      <li>
        <a href="#">HICの投資先</a>
      </li>
      <li>
        <a href="#">会社概要</a>
      </li>
      <li>
        <a href="#">メディア</a>
      </li>
    </ul>
  </div>
  <div class="expand">
    <div class="wrapper">
      <ul class="details">
        <li><a href="#">HICとは</a>
          <ul>
            <li>
              <a href="#">ファンドについて</a>
            </li>
            <li>
              <a href="#">チーム</a>
            </li>
          </ul>
        </li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">HICの投資先</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">メディア</a>
          <ul>
            <li>
              <a href="#">コラム</a>
            </li>
            <li>
              <a href="#">ストーリー</a>
            </li>
          </ul>
        </li>
        <li><a href="#">ポートフォリオ</a></li>
      </ul>
    </div>
  </div>
  <button class="menu">
    <span></span>
  </button>
</header>