@use '../foundation/breakPoint.scss' as *;

.Button {
  background: black;
  color: white;
  display: grid;
  place-items: center;
  width: 42.3rem;
  height: 6.4rem;
  border-radius: 100vh;
  font-size: 2rem;
  margin-inline: auto;

  @include sp {
    width: 33.5rem;
    height: 6rem;
    font-size: 1.8rem;
  }
}
