@use '../foundation/breakPoint.scss' as *;

.ViewMore {
  font-family: 'Shippori Mincho', serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background: url('../../img/ico_viewmore.svg') no-repeat center / contain;
    margin-left: 1.3rem;
  }
}
